<header>
    <div class="container">
        <div class="d-flex  align-items-center">
            <!-- <div class="the_logo">
                <a href=""><img src="../../../assets/imgs/770b805d5c99c7931366c2e84e88f251.png"></a>
                <a href=""><span class="app-title">weatherapplication</span></a>

            </div> -->
            <ul class="nav-bar d-flex justify-content-between ">
                <li><a [routerLink]=""  >Home</a></li>
            </ul>
        </div>
      

    </div>
   
  
  
</header>